@import "../../scss/colors.scss";

li a {
  color: $primary !important;
}

li a:hover {
  color: darken($primary, 10%) !important;
}

.divider {
  border: 0;
  height: 2;
  width: 70%;
  margin: auto;
  opacity: 0.7;
  background-image: linear-gradient(to right, rgba($primary, 0), rgba($primary, 0.75), rgba($primary, 0));
}
