.footer-divider {
  margin: 1rem !important;
  display: inline-block;
  border: 0;
  width: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.back-to-top {
  cursor: pointer;
}

$size: "3em";
.button {
  border: 0 !important;
  height: $size;
  width: $size;
}
